In [13]:
import pandas as pd
import phpserialize
from collections import OrderedDict
from phpserialize import *
import base64

In [28]:
df = pd.read_csv('/Users/priyanka/desktop/php_serialized_Data/simple_php.csv')

In [29]:
serialized_column = 'shipping_params' 
extracted_columns = {}

In [30]:
def php_deserialize(data):
    return loads(str(data).encode(), charset='gb18030')

In [31]:
data = df['shipping_params'].dropna().apply(php_deserialize)

In [32]:
data

0       {b'min_items_in_box': 0, b'max_items_in_box': ...
1       {b'min_items_in_box': 0, b'max_items_in_box': ...
2       {b'min_items_in_box': 0, b'max_items_in_box': ...
3       {b'min_items_in_box': 0, b'max_items_in_box': ...
4       {b'min_items_in_box': 0, b'max_items_in_box': ...
                              ...
6509    {b'min_items_in_box': 0, b'max_items_in_box': ...
6510    {b'min_items_in_box': 0, b'max_items_in_box': ...
6511    {b'min_items_in_box': 0, b'max_items_in_box': ...
6512    {b'min_items_in_box': 0, b'max_items_in_box': ...
6513    {b'min_items_in_box': 0, b'max_items_in_box': ...
Name: shipping_params, Length: 6512, dtype: object

In [37]:
dfs=[]
for i in data.items():
    dfs.append(pd.DataFrame(i[1],index=[i[0]]))

In [38]:
deserialized = pd.concat(dfs)

In [39]:
deserialized

,b'min_items_in_box',b'max_items_in_box',b'box_length',b'box_width',b'box_height'
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0
...,...,...,...,...,...
6509,0,0,0,0,0
6510,0,0,0,0,0
6511,0,0,0,0,0
6512,0,0,0,0,0
6513,0,0,0,0,0

In [40]:
final_data = pd.merge(df, deserialized, left_index=True, right_index=True)

In [41]:
final_data

,product_id,product_code,product_type,status,company_id,list_price,amount,weight,length,width,...,forensic_group,pseudo_company_id,flat_catalog_promo_ids,index_counter,total_counter,b'min_items_in_box',b'max_items_in_box',b'box_length',b'box_width',b'box_height'
0,1,NaN,D,H,0,0.00,1,0.0,0,0,...,NaN,NaN,NaN,0,5896,0,0,0,0,0
1,9869,3M01Z,P,D,1,40.00,0,0.0,0,0,...,MD,NaN,NaN,4354,5896,0,0,0,0,0
2,9870,3M05Z,P,D,1,0.00,0,0.0,0,0,...,MD,NaN,NaN,0,5896,0,0,0,0,0
3,9871,3M08Z,P,D,1,16.00,0,0.0,0,0,...,MD,NaN,NaN,0,5896,0,0,0,0,0
4,9872,3M09Z,P,A,1,23.35,2,0.0,0,0,...,MD,NaN,NaN,5896,5896,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6509,16493,Safe AQ UG Uric Acid TS,P,A,434,68.00,100,0.0,0,0,...,NaN,0.0,NaN,0,5896,0,0,0,0,0
6510,16494,LEN04C,P,A,1,1151.00,9,0.0,0,0,...,POM,435.0,NaN,5895,5896,0,0,0,0,0
6511,16495,LEN05C,P,A,1,1331.00,64,0.0,0,0,...,POM,435.0,NaN,5895,5896,0,0,0,0,0
6512,16496,ZOM05I,P,A,1,493.00,290,0.0,0,0,...,POM,435.0,NaN,5895,5896,0,0,0,0,0
6513,16497,ZOM06I,P,A,1,471.00,141,0.0,0,0,...,POM,435.0,NaN,5895,5896,0,0,0,0,0